
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/**************************************************/
/* Clases CSS */
/**************************************************/

:root{
    --ligth-blue: hsl(212, 100%, 50%);
    --main-bg:  hsl(217, 21%, 21%);
    --bg-dark:hsl(220, 40%, 13%);
    --content-bg:  rgb(30, 43, 72);
    --text: hsl(217, 35%, 45%);;
    --text-secondary: hsl(217, 20%, 51%);
    --title: hsl(0, 0%, 100%);
    --text-medias: hsl(216, 28%, 72%);

}

.light{
    --main-bg: hsl(227, 100%, 98%);
    --content-bg:hsl(0, 0%, 100%);
    --text: hsl(217, 35%, 45%);
    --title: hsl(217, 21%, 21%);
}


/**************************************************/
/* Estilos de página principal */
/**************************************************/

body{
    background-color: var(--main-bg);
    color: var(--title);
    font-family: "Space-mono", monospace;
}

.bodyHide{
    overflow: hidden;
}
.header__container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.nav__img{
    border-radius: 21%;
    width: 400px;
    height: 200px;
    transform: rotateY(180deg);
}

.form{
    display:flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    background-color: hsl(227, 100%, 96%);
    border-radius: 10px;
}

.email__input, .pass__input{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow:0 12px 12px -10px rgb(40 41 215 / 43%);
}

.pass__log, .pass__log2{
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: none;
    box-shadow:0 12px 12px -10px rgb(40 41 215 / 43%);
}
.btn__sesion, .btn__reg{
    padding: 10px;
    background-color: var(--ligth-blue);
    border: none;
    border-radius: 5px;
    color: var(--title);
    font-weight: 700;
    cursor: pointer;
}

.btn__sesion--log{
    padding: 10px;
    background-color: var(--text);
    border: none;
    border-radius: 5px;
    color: var(--title);
    font-weight: 700;
    cursor: pointer;
}

.msg__span{
    color:var(--content-bg);
    font-size: 11px;
}

.link__registro{
    text-decoration: none;
    color: var(--ligth-blue);
    font-weight: 700;
}

.text__error{
    display:none;
    color:red;
    margin-top: 7px;
    font-size:11px;
    width: 190px;
    font-weight: bold;
}

.text__error--show{
    display:flex;
}

.text__warn{
    display:none;
    color:var(--ligth-blue);
    margin-top: 7px;
    font-size:11px;
    width: 190px;
    font-weight: bold;
}

.text__success{
    display:flex;
    color:rgb(0 199 0);
    margin-top: 7px;
    font-size:11px;
    width: 190px;
    font-weight: bold;
}
.text__emailWarn{
    display:none;
    color:rgb(36, 0, 199);
    margin-top: 7px;
    font-size:11px;
    width: 190px;
    font-weight: bold;
}

.textLog__warn{
    display:none;
    color:var(--ligth-blue);
    font-size:11px;
    width: 190px;
    font-weight: bold;
}

.text__warn--show{
    display:flex;
}



.header__log{
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    padding-top: 40px;
}
.br-line{
    height: 1px;
    background-color: var(--ligth-blue);
    margin-top: 20px;
    box-shadow: 0px 2px 10px 2px var(--ligth-blue);
}
.nav__log{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.form__search{
    position: relative;
}

.search__input{
    padding: 10px 27px 10px 10px;
    border: none;
    border-radius: 10px;
    outline:none;
    width: 300px;
}

.search__btn{
    position: absolute;
    right: 10px;
    top: 10px;
    background:none;
    border: none;
    color: var(--ligth-blue);
    cursor:pointer;
}

.menu__container{
    display: flex;
    gap: 20px;
}
.menu__link, .menu__link--nameUser{
    display:flex;
    color: var(--title);
    font-size: 18px;
    text-decoration: none;
    
}
.menu__link--nameUser{
gap:5px;
}

.container__log{
    position: relative;
}

.menu__log{
    display: none;
    position: absolute;
    font-size: 14px;
    border: 1px solid var(--ligth-blue);
    right: -12px;
    margin-top: 9px;
    border-radius: 20px;
    background-color: var(--bg-dark);
    width: 90px;
    padding: 15px;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.menu__log--show{
    display: flex;
}
.main__log{
    display: flex;
    flex-direction: column;
    max-width: 990px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 50px;
}

/**************************************************/
/* Estilos de página cuando usuario inicia sesión */
/**************************************************/

.main__container{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    width: 100%;
}
.main__tittle{
    font-size: 30px;
    margin-bottom: 10px;
}
.main__card{
    display: flex;
    background-color: var(--bg-dark);
    border: solid 1px var(--ligth-blue);
    box-shadow: 1px -4px 23px -6px var(--ligth-blue);
    border-radius: 10px;
    justify-content:center;
    padding: 0px 0px 30px 0px;
    margin-bottom: 35px;
}
.contador{
    font-size: 14px;
}
.history{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-self: flex-start;
    margin-top: 50px;
    max-width: 500px;
    overflow: hidden;
    background-color: var(--bg-dark);
    padding: 20px;
    border: 1px solid var(--ligth-blue);
    border-left: none;
}


.history__container{
    display: none;
    flex-direction: column;
    justify-content:space-between;
    width: 100%;
}

.history__show{
    display:flex;
}


.history__content{
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap: 7px;
}
.my__content{
    display: flex;
}
.my__history{
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 7px;
    margin-top: 50px;
    background-color:var(--bg-dark);
    border: 1px solid var(--ligth-blue);
    border-right: none;
    padding: 0px 0px 0px 20px;
}

.history__add{
    position:absolute;
    color: #74fffd;
    font-size: 20px;
    top: 64px;
    right:23px;
    cursor: pointer;
}

.form__add{
    display: none;
    justify-content:center;
    gap: 20px;
    flex-direction: column;
    width: 300px;
    margin-top: 4px;
    position: absolute;
    background-color:hsl(217deg 35% 45% / 79%);
    padding: 45px 30px 25px 30px;
    clip-path: polygon(0 100%, 100% 100%, 100% 6%, 24% 6%, 19% 0, 14% 6%, 0 6%);

    border-radius: 20px;
}
.form__add-active{
    display: flex;
    z-index: 1;
}
.input__add{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
}

.container__save{
    display: flex;
    align-items: center;
    gap: 10px;
}

.url__error{
    display: none;
    font-size: 12px;
    color: rgb(255, 168, 168);
    font-weight: 700;
}
.url__error-show{
    display: flex;
}
.btn__add{
    width:100px;
    border: none;
    outline:none;
    background-color: var(--ligth-blue);
    color: var(--ligth);
    padding: 5px;
    border-radius: 5px;
    cursor:pointer

}
.check{
    display: none;
    opacity:0;
}
.check-show{
    display: flex;
    opacity:1;
    color: rgb(4, 255, 4);
    font-size: 15px;
}

.btn__aceptar{
    width: 100%;
    border: none;
    outline: none;
    padding: 7px 10px;
    background-color:rgba(91, 148, 253, 0.705);
    color: white;
    border-radius: 5px;
    cursor:pointer;
    margin-bottom: 10px;
    font-weight: 700;

}
.btn__cancelar{
    width: 100%;
    border: none;
    outline: none;
    padding: 7px 10px;
    background-color:rgba(253, 91, 91, 0.705);
    color: white;
    border-radius: 5px;
    cursor:pointer;
    font-weight: 700;

}
.history__img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--title);
    object-fit: cover;
    cursor: pointer;
}

.history__myImg{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: var(--title);
    object-fit: cover;
    cursor: pointer;
}
.history__name{
    justify-content:center;
    font-size: 15px;
}
.history__active{
    animation: border 5s linear infinite alternate;
}

.history__load{
    display:none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    height: 100%;
    width: 100%;
 
}
.history__bg{
    display:flex;
    background-color: rgb(30 43 72 / 82%);
    z-index:1;

}


.bar__container{
    display: flex;
    justify-content:center;
    width: 100%;
    gap:20px;
    position:absolute;
}
.modal__bar{
    height: 6px;
    width: 50px;
    background-color: #a3a3a3;
    overflow:hidden;

}

.bar__show::after{
    content: "";
    display: block;
    height:inherit;
 
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    animation:bar 3s forwards linear;
}

 @keyframes bar {
    to {
        transform: initial;
    }
  
} 
.modal__bg{
    display:none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgb(30 43 72 / 82%);
    z-index: 1;
    top: 0;

}

.modal__bg-on{
    display: flex;
}
.modal__img{
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius:10px
}
.modal__show{
    height: 500px;
    width: 500px;
    background-color: #1b2843;
    position:relative;
    margin: 0 auto;
    top: 150px;
    border-radius: 10px;
    z-index: 3;
}

.modal__img--myHis{
    width: 500px;
    height: 500px;
    object-fit: contain;
    border-radius:10px
}
.modal__show--myHis{
    height: 500px;
    width: 500px;
    background-color: #1b2843;
    position:relative;
    margin: 0 auto;
    top: 150px;
    border-radius: 10px;
    z-index: 3;
}

.modal__show--close{
    display: none;
}

.modal__info{
    display: flex;
    width: 100%;
    justify-content:space-between;
    padding: 12px;
    background-color: var(--ligth-blue);
    position:absolute;
    bottom:0;
    overflow-x: hidden;
    border-radius: 0px 0px 10px 10px;

}

.modal__media{
    font-size: 18px;
}



.modal__close{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    color: var(--ligth-blue);
    font-size: 20px;
    background-color: transparent;
    cursor: pointer;
}
.fa-chevron-right{
    background-color:var(--ligth-blue);
    position:absolute;
    top: 220px;
    right: -11px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.fa-chevron-left{
    background-color:var(--ligth-blue);
    position:absolute;
    top: 220px;
    left: -11px;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
}

.icons-show{
    opacity:1;
}
@keyframes border {
    0%{
        outline: solid 2px #d100ff;
    }
    50%{
        outline:solid 2px #6200ff
    }
    75%{
        outline:solid 2px #0099ff
    }
    100%{
        outline:solid 2px #00d9ff
    }
}
.main__suggest{
    display: flex;
    position:fixed;
    flex-direction: column;
    background-color:var(--bg-dark);
    gap: 20px;
    margin-top: 50px;
    padding: 30px 50px;
    height: max-content;
    border-radius: 10px;
    align-self: flex-end;
}

.main__suggest--close{
    display: none;
}
.img__suggest{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--title);
    cursor: pointer;
}

.info__suggest{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.name__suggest{
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.follow{
    color: var(--ligth-blue);
    font-size: 12px;
    cursor: pointer;
}

.close{
    border: none;
    color: var(--text-medias);
    background-color: var(--main-bg);
    cursor: pointer;
    font-size: 12px;
    font-weight: 700;
}

.card{
    display:flex;
    flex-direction: column;
    justify-content:center;
    width: 600px;
}
.card__img{
    height: 600px;
    object-fit: cover;
    border-radius: 7px;
}


.card__desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    font-weight: 700;
    padding: 0px 20px
}

.card__name, .media{
    cursor: pointer;
}

.media{
    font-size: 18px;
}
.card__text{
    margin-top: 7px;
    font-size: 15px;
    font-weight: 400;
    padding: 0px 20px
}

.form__comment{
    position:relative;
    padding: 0px 20px;
}

.comment{
    margin-top: 10px;
    width: 100%;
    border: 1px solid var(--text);
    outline:none;
    border-radius: 5px;
    background-color: var(--content-bg);
    padding: 5px;
    font-size: 12px;
    color: var(--text-medias);

}

.comment::placeholder{
    color: var(--text-secondary);
    padding-left: 5px;

}

.btn__send{
    position:absolute;
    top: 15px;
    right: 27px;
    padding: 1px 10px;
    background-color: var(--text-medias);
    color: var(--bg-dark);
    border: none;
    outline:none;
    border-radius: 2px;
    font-weight: 700;
    cursor: pointer;
}
.skeleton{
  
    animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton__title{
    width: 10rem;
    margin-bottom: .25rem;
    border-radius: .25rem;
}
.skeleton__text{
    width: 100%;
    margin-bottom: .25rem;
    border-radius: .25rem;
}

.skeleton__off{
    animation: none;
}
@keyframes skeleton-loading{
    0%{
        background-color: hsl(200,20%,70%);
    }

    100%{
        background-color: hsl(200,20%,100%);
    }
}
@media screen and (max-width: 880px) {
    .main__suggest{
        display: none;
    }

    .main__container{
        align-items: center;  
          width: auto;
    }
    .history__show{
        align-items: center;
    
    }

    .newHistory{
        position: relative;
    }

    .form__add-active{
        right: 10px;
    }
}

/**************************************************/
/* Responsive */
/**************************************************/

@media screen and (max-width: 688px) {

    .nav__log{
        justify-content: space-around;
    }
    .search__input{
        width: 250px;
    }
    .menu__link{
        display: none;
    }
    .menu__link--nameUser{
        display: flex;
    }
    
    .history__name, .card__name, .card__text{
        font-size: 12px;
    }

    .modal__show, .modal__img, .modal__show--myHis, .modal__img--myHis{
        height: 400px;
        width: 400px;
    }
    .fa-chevron-left, .fa-chevron-right{
        top: 170px;
    }
    .card, .my__content{
        width: 500px;
    }

    .card__img{
        height: auto;
    }

    .history__img, .history__myImg{
        height: 50px;
        width: 50px;
    }
    .my__history{
        padding: 0px 0px 0px 12px;
    }

    .history__add{
        top: 53px;
        right: 5px;
        font-size: 17px;
    }

    .form__add-active{
        right: 8px;
        padding: 35px 20px 15px 20px;
        width: 250px;
    }

}

@media screen and (max-width: 670px) {
    .header__container{
        flex-direction: column;
    }

    .nav__img{
        position: relative;
        left: 60px;
        margin-bottom: 10px;
        width: 300px;
        height: 150px;
    }

    .main__tittle{
        text-align: center;
    }
}

@media screen and (max-width: 520px) {
    .nav__log{
        font-size: 14px;
    }

    .search__input{
        width: 180px;
    }

    .card, .my__content{
        width: 380px;
    }

    .history__img, .history__myImg{
        height: 40px;
        width: 40px;
    }

    .history__myImg{
        margin-top: 12px;
    }
    .history__add{
        top: 46px;
        right: 5px;
        font-size: 15px;
    }

    .search__input{
        width: 125px;
    }

    .media{
        font-size: 12px;
    }

    .form__add-active{
        right: -9px;
        padding: 35px 18px 6px 18px;
        width: 200px;
    }

   

}


@media screen and (max-width: 450px) {

    .form{
        padding: 25px;
    }
    .nav__img{
        position: relative;
        left: 40px;
        margin-bottom: -10px;
        width: 200px;
        height: 150px;
        object-fit: contain;
    }

    .main__tittle{
        font-size: 25px;
    }

    .card, .my__content{
        width: 300px;
    }

    .my__history{
        padding: 0px;
    }

    .modal__show, .modal__img, .modal__show--myHis,  .modal__img--myHis{
        height: 400px;
        width: 320px;
    }
    .fa-chevron-left, .fa-chevron-right{
        top: 180px;
    }
    .form__add-active{
        right: -43px;
        padding: 35px 18px 6px 18px;
        width: 200px;
        gap: 7px;
    }


}